{% extends "imagersite/base.html" %}
{% load i18n %}

{% block content %}
    <section id="about" class="container content-section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                     <form method="post" action=".">
                      {% csrf_token %} 
                      {{ form.as_p }}

                      <input type="submit" value="{% trans 'Log in' %}" />
                      <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                    <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
                    <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>

                    </div>
                </div>
            </div>
        </section>
{% endblock %}

