{% extends "imagersite/base.html" %}

{% block title %}

<title>Public Albums</title>

{% endblock %}

{% block content %}
    <header class="intro" style="background-image: url({{ static_background }})">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="brand-heading">
                        <br>
                        Albums. Albums Everywhere.</h3>
                        <p class="intro-text">Here are some albums people created.</p>

                        <h3> Public Albums: </h3>
                        <ul>
                        {% for album in albums %}
                        <li>
                        <img src="{{ album.cover_image.url }}" width="100px" height="100px">
                        <p>{{ album.description }}</p>
                        </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}