{% extends "imagersite/base.html" %}

{% block title %}

<title>Your Library</title>

{% endblock %}

{% block content %}
    <header class="intro" style="background-image: url({{ static_background }})">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="brand-heading">
                        <br>
                        {% if user.is_authenticated %}
                        This is your Library</h3>
                        
                        <p class="add-button" ><a href="{% url 'add_photos' %}"> Add Photo </a></p>
                        
                        <p class="add-button"><a href="{% url 'add_albums' %}"> Add Album </a></p>
                        <br/>
                        
                        <p class="library-text" class="intro-text">Here's some albums and photos you took.</p>
                        
                        <h3> Albums: </h3>
                        {% if albums.has_previous %}
                        <p><a href="?album={{ albums.previous_page_number }}" }}>Album Page {{ albums.previous_page_number }}</a></p>
                        {% endif %}
                        {% if albums.has_next %}
                        <p><a href="?album={{ albums.next_page_number }}" }}>Album Page {{ albums.next_page_number }}</a></p>
                        {% endif %}
                        {% for album in albums %}
                        
                        <li>
                        <a href="{% url 'individual_album' pk=album.pk %}">
                        
                        <img src="{{ album.cover_image.url }}" width="100px" height="100px">
                        </a>
                        
                        <p>{{ album.description }}</p>
                        {% if user == album.owner.user %}
                        <p><a href="{% url 'edit_album' pk=album.pk %}" >Edit</a></p>
                        {% endif %}
                        </li>
                        {% endfor %}

                        <h3> Pictures: </h3>
                        {% if images.has_previous %}
                        <p><a href="?image={{ images.previous_page_number }}" }} >Last Four Images</a></p>
                        {% endif %}
                        {% if images.has_next %}
                        <p><a href="?image={{ images.next_page_number }}" }}>Next Four Images</a></p>
                        {% endif %}
                        {% for image in images %}
                        
                        <li>
                        <a href="{% url 'individual_photo' pk=image.pk %}">
                        
                        <img src="{{ image.image.url }}" width="100px" height="100px">
                        </a>
                        
                        <p>{{ image.description }}</p>
                        {% if image.tags.count %}
                            <p>Tags:
                            {% for tag in image.tags.all %}
                                <a href={% url 'tagged_photos' slug=tag.name %}>  {{ tag.name }} </a>
                            {% endfor %}
                            </p>
                        {% endif %}
                        {% if user == image.owner.user %}
                        <p><a href="{% url 'edit_photo' pk=image.pk %}" >Edit</a></p>
                        {% endif %}
                        </li>
                        {% endfor %}
                        {% else %}

                        <h2>You must be <a href="{% url 'login' %}">logged in</a> to view your library.</h2>
                        <h3>If you don't have an account you can <a href="{% url 'registration_register' %}">register now</a></h3>
                        <h4>So we can own all of the photos you take</h2>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}