{% extends "imagersite/base.html" %}

{% block title %}

<title>Your profile</title>

{% endblock %}


{% block content %}


    <header class="intro" style="background-image: url({{ static_background }})">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="brand-heading">This is your Profile</h3>
                        <p class="intro-text">Here's some stuff about it</p>
                        <ul>
                            <li>Username</li>
                            <li>number of public images</li>
                            <li>number of private images</li>
                        </ul>
                </div>
            </div>
        </div>
    </header>

{% endblock %}
